.footer {
  /* Adjust to match the color in the image */
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
}

.footer-left {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
  height: 100%;
}

.sign-in-button {
  background-color: #0077b6; /* Button color */
  color: white;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 20px;
  margin-top: 1rem;
  cursor: pointer;
}

.sign-in-button a {
  text-decoration: none;
  color: white;
}

.sign-in-button:hover {
  background-color: #023e8a;
}

.footer-columns {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding: 0.5em;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
  width: 20%;
  background: none;
  border: 2px solid #023e8a;
  border-radius: 0.3rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  background: none;
}

.footer-column h3 {
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #023e8a;
  font-size: 1rem;
  background: white;
  color: #023e8a;
}

.footer-column li {
  color: white;
  padding: 0.5em 0;
  font-size: 1rem;
  display: flex;
  background: none;
  color: #023e8a;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-bottom p {
  margin: 0.5rem 0;
  color: #023e8a;
  text-align: center;
}

.footer-bottom a {
  color: #023e8a;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}
